details summary::-webkit-details-marker {
  display:none;
}
.display-1 {
      font-weight: 500
    }

    .bg-signal {
      background-color: #fd0d89 !important;
      float: right
    }

    .bg-message {
      background-color: #a7fd0d !important;
      float: right
    }

    .border-signal{
      border:solid #fd0d89 !important;
    }
    .border-message{
      border:solid #a7fd0d !important;
    }

